@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Serif', sans-serif;
}

:root{
    --background: #CCCCFF;
    --background-second: #FFCAA7;
    --color-font: #ffffff;
    --color-font1: #000000;
}

/* body::-webkit-scrollbar{
  width: 0 !important;
  display: none; 
} */
html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* desktop */
/* Selection background */
.selection_background{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    overflow: hidden;
    z-index: -5;
}
.item_topleft{
    position: absolute;
    top: 0;
    left: 0;
    width: 87%;
    z-index: -2;
}
.item_footprint{
    position: absolute;
    width: 7.5%;
    z-index: -1;
}
#footprint{
    bottom: 10vh;
    left: 10vw;
}
#footprint1{
    top: 30vh;
    left: 25vw;
}
#footprint2{
    top: 60vh;
    left: 50vw;
}
#footprint3{
    top: 10vh;
    left: 60vw;
}
#footprint4{
    top: 6vh;
    left: 80vw;
}
.item_bottomright{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35vw;
    z-index: -2;
}
.pet{
    position: absolute;
    width: 12%;
    z-index: -1;
    bottom: 0;
    right: 5%;
    rotate: -4deg;
}

/* Selection content */
#mobile{
    display: none;
}
.content_wrapper{
    width: 100%;
    height: 100vh;
}
.content_wrapper-top{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 2vh;
}
.selection_logo{
    width: 9.75%;
    margin-top: 0.7vh;
    margin-left: 3.9vw;
}
.content_wrapper_right{
    position: relative;
    width: calc(100% - 9.75% - 17.6%);
    display: grid;
    justify-content: center;
    align-items: center;
}
.selection_title{
    font-size: 2.5em;
}
.selection_time{
    margin-top: 1vh;
    width: calc(100% + 30.9%);
    display: flex;
    justify-content: right;
    font-size: 1em;
}
.content_wrapper-bottom{
    width: 50%;
    margin-left: 40vh;
    margin-top: 13vh;
}
.selection_content-title{
    width: 60%; 
    font-size: 2em;
    margin-top: 2vh;
}
.selection_content-content{
    width: 80%;
    font-size: 1.3em;
    margin-top: 3vh;
}
.selection_btn{
    width: 215px;
    height: 60px;
    border-radius: 64px;
    background-color: var(--color-font1);
    color: var(--color-font);
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 5vh;
    margin-left: 28vw;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
.selection_btn:active{
    background-color: var(--background);
    color: var(--color-font1);
    box-shadow: inset 4px 4px 10px 0 rgba(0, 0, 0, 0.5), inset -4px -4px 10px 0 rgba(255, 255, 255, 0.5);
}

/* Describe */
.describe{
    margin-top: 10vh;
    position: relative;
}
.describe_title{
    display: flex;
    justify-content: center;
    font-size: 2em;
}
.describe_wrapper{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;   
    margin-top: 5vh;
}
.describe_frame{
    width: 350px;
    height: 500px;
    margin: 5vh 5vw;
    background-color: var(--background);
    border-radius: 64px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    border: 5px solid var(--background-second); 
}
.describe_icon{
    width: 310px;
    height: 310px;
    margin: 25px 50%;
    transform: translateX(-50%);
    border-radius: 64px;
}
.describe_content-content{
    width: 80%;
    font-size: 1.3em;
    margin-top: 25px;
    transform: translateX(-50%);
    text-align: center;
    margin-left: 50%;
}
/* describe background */
.describe_background{
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -5;
}
.describe_background_item{
    position: absolute;
    width: 7.5%;
    z-index: -1;
}
#describe_background_pet{
    position: absolute;
    width: 15%;
    bottom: 0;
    left: 11vw;
}
#describe_background_item1{
    bottom: 40vh;
    left: 0;
    width: 5%;
}
#describe_background_item2{
    bottom: 60vh;
    left: 50vw;
}
#describe_background_item3{
    top: 50vh;
    left: 42vw;
}
#describe_background_item4{
    top: 70vh;
    right: 10vw;    
}
#describe_background_item5{
    top: -5vh;
    right: 25vw;    
}

/* sign-up */
.sign-up{
    margin: 10vh 0;
    padding: 5vh 0;
    position: relative;
}
.sign-up_content_title{
    text-align: center;
    font-size: 2em;
}
.sign-up_container{
    width: 610px;
    height: 570px;
    background-color: var(--background);
    margin: 5vh auto;
    border-radius: 64px;
    box-shadow: inset 5px 5px 10px 0 rgba(0, 0, 0, 0.5), inset -5px -5px 10px 0 rgba(255, 255, 255, 0.5);
}
.sign-up_form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-up_form_container{
    width: 60%;
    position: relative;
    margin-top: 15p x;
}
.sign-up_form_input{
    width: calc(100% - 2vw - 5px);
    height: 65px;
    border-radius: 24px;
    border: 3px solid var(--color-font1);
    padding-left: 2vw;
    font-size: 1.3em;
    font-weight: 500;
    background-color: var(--background-second);
    outline: none;
}
.sign-up_form_title{
    position: absolute;
    transform: translateY(-50%);    
    top: 50%;
    left: 2vw;
    font-size: 1em;
    color: var(--color-font1);
    font-weight: 600;
    cursor: text; 
    transition: 0.2s;
}
.sign-up_form_input:focus ~ .sign-up_form_title,
.sign-up_form_input:valid ~ .sign-up_form_title{
    top: 0;
    background-image: linear-gradient(to top, var(--background-second) 35%, var(--background) 70%);
    padding: 0 0.5vw; 
}
.sign-up_btn{
    width: 215px;
    height: 60px;
    border-radius: 64px;
    background-color: var(--color-font1);
    color: var(--color-font);
    font-size: 1.3em;
    font-weight: 700;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    transition: 0.3s;
}
.sign-up_btn:active{
    background-color: var(--background);
    color: var(--color-font1);
    box-shadow: inset 4px 4px 10px 0 rgba(0, 0, 0, 0.5), inset -4px -4px 10px 0 rgba(255, 255, 255, 0.5);
}
/* sign-up background */
.sign-up_background{
    width: 100vh;
    height: 100%;
    overflow: hidden;
    z-index: -5;
}
.sign-up_footprint{
    position: absolute;
    width: 7.5%;
    z-index: 5;
}
#sign-up_footprint-1{
    bottom: 50vh;
    left: 15vw;
}
#sign-up_footprint-2{
    bottom: 0;
    right: 32vw;
}
#sign-up_footprint-3{
    top: 5vh;
    right: 25vw;
}
.sign-up_pet{
    width: 20%;
    position: absolute;
    z-index: 5;
    bottom: 5vh;
    left: 20vw;
}
/* Infor */
.infor{
    display: flex;
    justify-content: space-around;
    margin-top: 10vh;
    background-color: var(--background);
    padding: 5vh 0;
}
.infor_left_top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    grid-gap: 1vh;
    margin-bottom: 5vh;
}
.infor_title{
    font-size: 1.3em;
    margin-bottom: 1vh;
}
.wrapper_sponsor{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 1vw;
    margin-top: 2vh;
}
.sponsor{
    width: 65px;
    height: 65px;
    border-radius: 64px;
    background-color: #7c7c7c;
}
.infor_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    grid-gap: 1vh;
}
.infor_logo{
    width: 20%;
    margin-left: 70%;
}

/* reponsive */
@media (max-width: 1462px){
    /* describe */
    .describe_wrapper{
        margin-top: 5vh;
    }
    .describe_frame{
        width: 300px;
        height: 450px;
        margin: 5vh 4vw;
        background-color: var(--background);
        border-radius: 64px;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
        border: 5px solid var(--background-second); 
    }
    .describe_icon{
        width: 260px;
        height: 260px;
        margin: 20px 50%;
        transform: translateX(-50%);
        border-radius: 64px;
    }
    .describe_content-content{
        width: 80%;
        font-size: 1.3em;
        margin-top: 20px;
        transform: translateX(-50%);
        text-align: center;
        margin-left: 50%;
    }
    /* describe background */
    #describe_background_item1{
        bottom: 40vh;
        left: 0;
        width: 5%;
    }
    #describe_background_item2{
        bottom: 60vh;
        left: 50vw;
    }
    #describe_background_item3{
        top: 40vh;
        left: 40vw;
    }
    #describe_background_item4{
        top: 70vh;
        right: 10vw;    
    }
    #describe_background_item5{
        top: -5vh;
        right: 25vw;    
    }
}

@media (max-width: 1200px){
    .selection_time{
        width: calc(100% + 20%);
    }
    .selection_content-content{
        width: 90%;
        font-size: 1.1em;
    }
}

@media (max-width: 1147px){
    /* describe */
    .describe_wrapper{
        margin-top: 5vh;
    }
    .describe_frame{
        width: 250px;
        height: 370px;
        margin: 6vh 4vw;
        background-color: var(--background);
        border-radius: 48px;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
        border: 5px solid var(--background-second); 
    }
    .describe_icon{
        width: 210px;
        height: 210px;
        margin: 20px 50%;
        transform: translateX(-50%);
        border-radius: 48px;
    }
    .describe_content-content{
        width: 80%;
        font-size: 1.1em;
        margin-top: 15px;
        transform: translateX(-50%);
        text-align: center;
        margin-left: 50%;
    }
    /* describe background */
    #describe_background_item1{
        bottom: 45vh;
        left: 0;
        width: 5%;
    }
    #describe_background_item2{
        bottom: 50vh;
        left: 50vw;
    }
    /* selection */
    .selection_content-content{
        width: 90%;
        font-size: 1.1em;
    }
    .content_wrapper-bottom{
        margin-left: 35vh;
    }
}

@media (max-width: 1050px){
    .selection_title{
        font-size: 2em;
    }
    .cselection_time{
        width: calc(100% + 10%);
    }
    .selection_content-title{
        width: 70%; 
        font-size: 1.8em;
    }
    .selection_content-content{
        width: 90%;
        font-size: 1em;
    }
    .selection_btn{
        width: 180px;
        height: 50px;
        font-size: 1em;
        margin-top: 3vh;
        margin-left: 30vw;
    }
    /* describe */
    .describe_title{
        font-size: 1.8em;
    }
    /* sign-up */
    .sign-up_content_title{
        font-size: 1.8em;
    }
    .sign-up_form_title{
        font-size: 1em;
    }
    .sign-up_form_input{
        font-size: 1em;
    }
    .sign-up_btn{
        width: 180px;
        height: 50px;
        font-size: 1em;
        margin-top: 20px;
    }
    /* infor */
    .infor_title{
        font-size: 1.1em;
    }
    .infor_left_top_content{
        font-size: 1em;
    }
    .contact_content{
        font-size: 1em;
    }
    .sponsor{
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 1000px){
    /* selection */
    .content_wrapper-bottom{
        width: 60%;
        margin-top: 15vh;
        margin-left: 25vh;
    }
    /* describe */
    .describe_frame{
        width: 220px;
        height: 330px;
        margin: 6vh 4vw;
        background-color: var(--background);
        border-radius: 40px;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
        border: 5px solid var(--background-second); 
    }
    .describe_icon{
        width: 200px;
        height: 200px;
        margin: 15px 50%;
        transform: translateX(-50%);
        border-radius: 40px;
    }
    #describe_background_item1{
        bottom: 45vh;
        left: 0;
        width: 5%;
    }
    #describe_background_item2{
        bottom: 50vh;
        left: 50vw;
    }
    #describe_background_item3{
        top: 35vh;
        left: 45vw;
    }
    #describe_background_item4{
        top: 60vh;
        right: 10vw;    
    }
}

/* mobile */
@media (max-width: 850px){
    /* selection */
    .selection_background{
        height: 90vh;
    }
    .selection_logo{
        width: 17%;
        margin-left: 2vw;   
    }
    .selection_title{
        width: 100%;
        font-size: 1.2em;
    }
    #desktop{
        display: none;
    }
    #mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .selection_time{
        width: 90%;
        font-size: 0.8em;
        text-align: end;
    }
    .selection_content-title{
        width: 90%; 
        font-size: 1.5em;
    }
    .selection_content-content{
        width: 90%;
        font-size: 0.8em;
    }
    .selection_btn{
        width: 70%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .content_wrapper-bottom{
        width: 80%;
        margin: 5vh auto;
        margin-top: 10vh;
    }
    /* selection background */
    .item_topleft{
        width: 100%;
    }
    .item_bottomright{
        width: 45%;
    }
    .pet{
        width: 15%;
        right: 5%;
    }
    .item_footprint{
        width: 15%;
    }
    #footprint{
        bottom: 5vh;
        left: 5vw;
    }
    #footprint1{
        top: 30vh;
        left: 25vw;
    }
    #footprint2{
        top: 65vh;
        left: 50vw;
    }
    #footprint3{
        top: 25vh;
        left: 75vw;
    }
    #footprint4{
        top: 5vh;
        left: 65vw;
    }
    /* describe */
    .describe_title{
        font-size: 1.5em;
    }
    .describe_content-content{
        font-size: 1em;
    }
    /* describe background*/
    #describe_background_pet{
        width: 30%;
        bottom: 0;
        left: 5vw;
    }
    .describe_background_item{
        width: 15%;
    }
    #describe_background_item1{
        bottom: 40vh;
        left: 0;
        width: 10%;
    }
    #describe_background_item2{
        bottom: 90vh;
        left: 70vw;
    }
    #describe_background_item3{
        top: 100vh;
        left: 10vw;
    }
    #describe_background_item4{
        top: 60vh;
        right: 10vw;    
    }
    #describe_background_item5{
        top: 5vh;
        left: 10vw;    
    }
    #describe_content-longcontent{
        margin-top: 0;
    }
    /* sign-up */
    .sign-up_content_title{
        font-size: 1.5em;
    }
    .sign-up_container{
        width: 95%;
        height: 500px;
        margin: 5vh auto;
    }
    .sign-up_form{
        margin-top: 5vh;
    }
    .sign-up_form_container{
        width: 80%;
    }
    .sign-up_form_input{
        width: calc(100% - 10%);
        padding-left: 10%;
    }
    .sign-up_form_title{
        left: 10%;
    }
    .sign-up_btn{
        width: 70%;
        height: 50px;
        font-size: 1em;
        margin-top: 20px;
    }
    /* sign-up background */
    .sign-up_footprint{
        width: 15%;
    }
    #sign-up_footprint-1{
        bottom: 55vh;
        left: -5vw;
    }
    #sign-up_footprint-2{
        bottom: 5vh;
        right: 5vw;
    }
    #sign-up_footprint-3{
        top: 8vh;
        right: 5vw;
    }
    .sign-up_pet{
        width: 30%;
        bottom: 5vh;
        left: 0;
    }
    /* infor */
    .infor{
        flex-direction: column;
        padding: 5vh 0;
    }
    .infor_left_top{
        align-items: center;
        margin-bottom: 2vh;
    }
    .infor_title{
        font-size: 1.3em;
        margin-bottom: 1vh;
        text-align: center;
    }
    .infor_left_bottom{
        align-items: center;
        margin: 5vh 0;
    }
    .wrapper_sponsor{
        justify-content: center;
        gap: 2vw;
    }
    .sponsor{
        width: 50px;
        height: 50px;
    }
    .infor_right{
        align-items: center;
    }
}